{% extends "base.html" %}

{% block content %}

<div class="center">
    <div class="col col-4 mx-auto">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="text-center">Ackermann Function</h3><br>
            <div class="form-row">
                <div class="form-group col-6 mx-auto">
                    <label>Enter so called 'm' number:</label>
                    <input type="number" name="m" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-6 mx-auto">
                    <label>Enter so called 'n' number:</label>
                    <input type="number" name="n" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="form-row text-center">
                <div class="form-group col mx-auto">
                    <button class="btn btn-primary btn-block" type="submit">Calculate</button>
                </div>
            </div>
            <br>
        </form><br>
        {% if instance %}

        <h3 class="text-center">The A ({{ instance.m }}, {{ instance.n }}) is {{ instance.result }}</h3>

        {% if instance.duration %}
        <h3 class="text-center">Runtime:
            {{ instance.duration }}
        </h3>
        {% endif %}

        {% endif %}
    </div>
</div>

{% endblock content %}